/* minimal implementation; just plain text in the margin, no blockquotes, code, etc */
/* only (unnumbered) margin notes, no sidenotes */
/* stripped down from https://github.com/edwardtufte/tufte-css */

/* need this for correct sidenote numbering; but I'm not using sidenotes */
/*
body {
    counter-reset: sidenote-counter; 
} 
*/

/* since I imagine these will change with different templates */
:root {
    --content-width: 65%;
    --image-padding: 5%;
    --image-max: 60%;  /* total image+padding <= content-width */
    --notewidth: 30%; 
    /* content-width + notewidth <  100%. I think you should leave some wiggle room. */
    --note-right-margin: -45%; 
    /* if this margin is -(notewidth), the note will start just on the right border of the text */
    /* so push it a little to the right (more negative) */
}

article {
	padding-top: 1rem; 
}

/* make room for the notes in the article container */
article > p,
article > pre,
article > ul,
article > ol {
    width: var(--content-width);
}

article > hr {
    max-width: var(--content-width);
    margin: 0
}

article > h1, 
article > h2,
article > h3,
article > h4 {
    max-width: var(--content-width);
}


/* 
  blockquotes should be a little shorter 
  This assumes that left indentation is 2em, which is what it looks like.
  */
  article > blockquote {
    width: calc(var(--content-width) - 2em); 
}

/* keep images/captions in the text column, rather than centered in the article container */
article > img {
    margin-left: 0;
    padding-left: var(--image-padding);
    max-width: var(--image-max); 
}

article > p.caption {
	text-align: left;
    padding-left: var(--image-padding);
	font-style: italic;
	font-size: 0.9em;
	color: #9B9C9D;
 }

 /* finally, the margin note */
.marginnote {    
    float: right;
    clear: right;
    width: var(--notewidth);         
    margin-right: var(--note-right-margin);
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}


input.margin-toggle {
    display: none;
}


label.margin-toggle {    
    display: none;

}

/* The mobile fallback: */
/* making max-width bigger makes the note fall inline sooner */
@media (max-width: 768px) {  
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
    }

    hr,
    article > p,
    article > blockquote,
    article > pre {
        width: 100%;
    }

    label.margin-toggle {
        display: inline;
    }
       
    .marginnote {           
         display: none;        
        }    

      
    .margin-toggle:checked + .marginnote {            
        display: block;            
        float: left;            
        left: 1rem;            
        clear: both;            
        width: 95%;            
        margin: 1rem 2.5%;            
        vertical-align: baseline;            
        position: relative;        
    }
    label {
        cursor: pointer;
    }
}