/* colors from flexoki - https://stephango.com/flexoki */

:root {
	--paper: #FFFCF0;
	--tx-normal: #100F0F;
	--tx-muted: #6F6E69;
	--tx-faint: #B7B5AC;
	--blue300: #66A0C8;
	--blue400: #4385BE;
	--blue600: #205EA6;
	--blue800: #163B66; 
	--blue850: #133051;
	--red800: #6C201C;
	--base50: #F2F0E5;
	--base100: #E6E4D9;
	--base300: #B7B5AC;

	--description-color: var(--tx-muted); 
    --caption-color: var(--tx-faint);
	--background-color:  var(--paper); 
    --hrule-color: var(--base100);
    --hrule-faint-color: var(--base50);
	--box-border-color: var(--base50);

	--header-anchor-color: var(--base300); /* for the # links on headers */
	--icon-color: var(--blue600);
	--icon-hover-color: var(--blue300);
	--tag-color: var(--blue600);
	--tag-hover-color: var(--blue300);

	--text-color: var(--tx-normal); 
	--text-color-link: var(--tx-normal); 
	--text-color-link-active: var(--red800); 
	--text-color-link-visited: var(--tx-normal); 
}

@media (prefers-color-scheme: dark) {
	:root {
		--black: #100F0F;
		--base200: #CECDC3; 
		--base300: #B7B5AC;
		--base500: #878580;
		--base600: #6F6E69;
		--base700: #575653;
		--base900: #282726;
		--base950: #1C1B1A;
		--blue700: #1A4F8C;
		--red400: #D14D41;
		--purple400: #8B7EC8;
	
		--description-color: var(--base300); 
		--caption-color: var(--base500);
		--background-color:  var(--black); 
		--hrule-color: var(--base900);
		--hrule-faint-color: var(--base950);
		--box-border-color: var(--base950);

		--header-anchor-color: var(--base300); /* for the # links on headers */
		--icon-color: var(--blue400);
		--icon-hover-color: var(--blue600);
		--tag-color: var(--blue400);
		--tag-hover-color: var(--purple400);

		--text-color: var(--base200); 
		--text-color-link: var(--base200); 
		--text-color-link-active: var(--purple400); 
		--text-color-link-visited: var(--base200); 
	}
}