{% include base_path %}

{% if site.tag_archive.type and page.tags[0] %}
  {% include tag-list.html %}
{% endif %}

{% if site.category_archive.type and page.categories[0] %}
  {% include category-list.html %}
{% endif %}

<!-- The tag lists and category lists won't quite work yet. Need to fix this.  -->
{% if site.tag_archive.type and page.book_tags[0] %}
  {% include booktag-list.html %}
{% endif %}

{% if site.category_archive.type and page.book_categories[0] %}
  {% include bookcategory-list.html %}
{% endif %}