<hr />

<div class="footer-container">
	<p>&copy; {% year %} Nina B. Zumel</p>
	<div class="social_icons">
	    <a
			href="mailto:nzumel@win-vector.com?subject=Comment%20from%20Website"
			aria-label="Email"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fas fa-fw fa-envelope"></i>
		</a>
		<a
			href="https://github.com/ninazumel"
			aria-label="GitHub"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-github"></i>
		</a>
		<a
			href="https://www.linkedin.com/in/ninazumel/"
			aria-label="LinkedIn"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-linkedin"></i>
		</a>
		<a
			href="/feed.xml"
			aria-label="RSS"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa fa-fw fa-rss-square"></i>
		</a>

	</div>
</div>