---
layout: layouts/home.njk
numberOfLatestPostsToShow: 5
title: Technical Blogging
eleventyNavigation:
  key: Technical Blogging
  order: 3
---

<div class="author_container">
    <img src="/img/pen-hero.jpg" alt="Fountain pen">
    <h1>Technical Blogging</h1>
</div>


<div class="message-box">
<p><a href="http://www.winvector.com/author/nzumel/" rel="self"><strong>My articles on the Win-Vector Blog</strong></a><br />
The Win Vector blog (with John Mount) publishes articles approximately once a month on topics in math, statistics, computation, and anything else we think is interesting.</p>
</div>
<br><br>
<div class="message-box">

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h3>Latest {{ latestPostsCount }} Blog Post{% if latestPostsCount != 1 %}s{% endif %} on this Site</strong></h3>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}

</div>


