---
layout: archive
permalink: /books-category/
---

{{ content }}

{% assign books=site.books %}
{% include group-by-array collection=books field="book_category" %}

<h2>{{page.list_title | default: "Books" }}</h2>

{% if books.size > 0 %}

  {% for category in group_names %}
    {% assign bgroup = group_items[forloop.index0] %}
    <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
    {% for book in bgroup %}

      <figure class="book-cover">

      <a href="{{ book.url | relative_url }}">

      {% if book.cover %}

      <img alt="{{ book.title }} cover" src="{{ site.baseurl }}/images/covers/{{ book.cover }}" />

      {% elsif book.olid %}

      <img alt="{{ book.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ book.olid }}-L.jpg?default=false" />

      {% elsif book.isbn %}

      <img alt="{{ book.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg?default=false" />

      {% endif %}

      </a>
      </figure>

    {% endfor %} <!-- for book in bgroup -->
  {% endfor %}  <!-- for category in group_names -->
{% endif %} <!-- if books.size > 0 -->

<style>
  figure {
    display: inline-block;
    text-align: center;
    margin: 8px; /* adjust as needed */

  }

  figure img {
    vertical-align: bottom;
    height:200px;
    width: auto;

  }

  .reading{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #f89406;

  }

  .finished{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #62c462;

  }


  .queued{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #9e76b5;

  }

  .abandoned{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #ee5f5b;

  }

  .interested{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #7691db;

  }

  .uncategorized{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #b0abb3;

  }

  /* mouse over link */
a:hover {
  color: #23212D;
}

  }
</style>
