---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}


  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="page__inner-wrap">
    <!-- <h1><i>{{page.title}}</i> by {{ page.author}} </h1> -->
    <!-- <h1><i>{{page.title}}</i></h1> -->
    <!-- <p style="font-size:1.2em;"><strong>{{page.author}}</strong></p> -->
    
    <h1><i>{{page.title}}</i><br /><span style="font-size:0.75em;>by {{page.author}}</span></h1>


   {% assign content = page.content | strip_newlines %}

   {% if content == "" %}

   <figure class="empty-review">
   {% if page.cover %}
   <img  alt="{{ page.title }} cover" src="{{ site.baseurl }}/images/covers/{{ page.cover }}" />
   <figcaption>Cover of <em>{{ page.title }}</em></figcaption>
   {% elsif page.olid %}
   <img float: left alt="{{ page.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ page.olid }}-L.jpg?default=false"/>
   <figcaption>Cover of <em>{{ page.title }}</em> on the <a href="https://openlibrary.org/olid/{{ page.olid }}">Open Library</a>.</figcaption>
   {% elsif page.isbn %}
   <img float: left alt="{{ page.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ page.isbn }}-L.jpg?default=false"/>
   <figcaption>Cover of <em>{{ page.title }}</em> on the <a href="https://openlibrary.org/isbn/{{ page.isbn }}">Open Library</a>.</figcaption>
   {% endif %}
   </figure>


    {% else %}

    <figure>
    {% if page.cover %}
    <img alt="{{ page.title }} cover" src="{{ site.baseurl }}/images/covers/{{ page.cover }}" />
    <figcaption>Cover of <em>{{ page.title }}</em></figcaption>
    {% elsif page.olid %}
    <img  alt="{{ page.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ page.olid }}-L.jpg?default=false"/>
    <figcaption>Cover of <em>{{ page.title }}</em> on the <a href="https://openlibrary.org/olid/{{ page.olid }}">Open Library</a>.</figcaption>
    {% elsif page.isbn %}
    <img alt="{{ page.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ page.isbn }}-L.jpg?default=false"/>
    <figcaption>Cover of <em>{{ page.title }}</em> on the <a href="https://openlibrary.org/isbn/{{ page.isbn }}">Open Library</a>.</figcaption>
    {% endif %}
    </figure>

    <br class="mobile-break" clear="right"/>


    <h4>
    {% if page.start %} Start Date: {{page.start| date: "%-d %B %Y"}}. {% endif %}
    {% if page.end %} End Date: {{page.end | date: "%-d %B %Y"}}. {% endif %}
    </h4>

    {{ content }}

    {% endif %}

  </div> <!--page__inner-wrap-->
  </article>
</div>

    <style>
    
.titletext {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.subtitle {
    margin-top: 0px;
    padding-top: 0px;
}


    figure {
      float: none;
      width:250px;
      display: block;
      margin-right: auto;
      margin-left: auto;

    }
    figure  > img {

         vertical-align: top;
         display: block;
         margin-right: 0px;
         margin-left: 0px;
         padding: 0px;

    }
    figure figcaption {

      display: block;
      caption-side: bottom;
      text-align: center;
    }

    @media screen and (min-width: 600px)  {

      .empty-review{
        float: left;
        padding: 0px 20px 0px 0px;
        }


        figure {

              float: right;
              display: table /* in-line block; */
              border: 0px; /* 1px dotted gray */
              margin: 2px 0px 0px 0px;  /* adjust as needed */
              padding: 0px 0px 0px 20px;
             /* top right bottom left */


               }

        figure > img {
                width:300px;
                vertical-align: bottom;
                display: block;
                margin-right: 0px;
                margin-left: 0px;
                margin-top: 0px
                marigin-bottom: 0px;
                padding: 10px;




              }
        figure figcaption {
                /* border: 1px dotted blue; */
                display: caption; /* block; */
                caption-side: bottom;
                text-align: center;

                }

        .mobile-break { display: none; }

/* =Blockquote
-------------------------------------------------------------- */
blockquote {

    position: relative;
    marginn: 0px;
    display: table;

}
blockquote:before, blockquote:after {

 /* properties to format the block quotes */

}
blockquote:before {
    top: 0;
    left: 0;


}
blockquote:after {
    top: 0;
    right: 0;

}


  </style>
