---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/hero.css" %}{% endcss %}
{%- css %}{% include "public/css/marginnote.css" %}{% endcss %}

{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

<h1>{{ title }}</h1>

<article>
{{ content | safe }}
</article>